nav.navbar, .navbar-default{
    background-color: white !important; 
}

.navbar-default{
    background-image: none;
    border: none;
    border-radius: 0;
}
.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
}
.navbar-default .navbar-nav > li > a{
    color: #6F00E8;
}

.navbar-default .navbar-brand{
    color: #6F00E8;
    text-align: center;
    flex: center;
}

.navbar-default .navbar-toogle {
    border-color: #6F00E8;
}

.navbar-default .navbar-toogle .icon-bar{
    background-color: #6F00E8;
}

.navbar-default .navbar-toogle:focus, .navbar-default .navbar-toogle{
    background-color: transparent;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
  color: #6F00E8;
  background-color: transparent;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: #6F00E8;
  background-color: transparent;
}

.header-bar .header-content-center .header-logo-mobile a img {
    width: 55px;
}


.header-bar .header-content-center .header-logo-mobile a img {
    font-size: 0;
    width: 70px;
}

.visible-mobile {
    display: block!important;
}