.jumbotron {
  margin-bottom: 4em;
}
.person-wrapper {
  margin-bottom: 2em;
}

.profile-pic {
  width: 80%;
}


h3 {
  margin-bottom: 1em;
}

.footer
{
    height: 9vh;
    text-align:left;
    
}

a{
  color: #6F00E8;;
}

